
# Terraform plan files
*.tfplan

# Directory for Terraform plugin binaries
.terraform/

# Local Terraform variables
terraform.tfvars
*.tfvars.json

# Crash log
crash.log

# IDE/Editor specific files
.vscode/
.idea/
